{% block pageContent %}
<!DOCTYPE html>
<html>

<body>
    {% block navigation %} {% include 'navigation.html' %} {% endblock navigation %}
    <h1>List of products</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                
                <th>product name</th>
                <th>product price</th>
                <th>product quantity</th>
            </tr>
        </thead>

        <tbody>
            {% for item in products %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.product_name}}</td>
                <td>{{item.product_price}}</td>
                <td>{{item.product_quantity}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% endblock pageContent %}
</body>

</html>
